<div class="main-layout">
  <mat-sidenav-container class="main-layout_side-nav-container">
    <mat-sidenav mode="side" [opened]="navOpened">
      <nav class="main-layout_left-nav">
        <a class="main-layout_nav-link" routerLink="/reports" routerLinkActive="active">
          <span><i class="material-icons">description</i></span>
          <span>REPORTS</span>
        </a>
        <a class="main-layout_nav-link" routerLink="/dashboard" routerLinkActive="active">
          <span><i class="material-icons">dashboard</i></span>
          <span>DASHBOARD</span>
        </a>
        <div class="main-layout_nav-link" (click)="newReport()">
          <span><i class="material-icons">add_circle_outline</i></span>
          <span>NEW REPORT</span>
        </div>
      </nav>
      <hr/>
      <nav class="main-layout_left-nav">
        <a class="main-layout_nav-link" routerLink="/" routerLinkActive="active">
          <span><i class="material-icons">description</i></span>
          <span>SETTINGS</span>
        </a>
        <a class="main-layout_nav-link" routerLink="/" routerLinkActive="active">
          <span><i class="material-icons">settings</i></span>
          <span>LOG OUT</span>
        </a>
      </nav>
    </mat-sidenav>
    <mat-sidenav mode="side" position="end" [opened]="searchOpened">
      <h2>Search Panel</h2>
      <app-search></app-search>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-global-header (onToggleSearch)="toggleSearch()" (onToggleNav)="toggleNav()"></app-global-header>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
