<div class="main-layout">
  <mat-sidenav-container class="main-layout_side-nav-container">
    <mat-sidenav mode="side" [opened]="navOpened">
      <nav class="main-layout_left-nav">
        <a class="main-layout_nav-link" routerLink="/reports" routerLinkActive="active">
          <i class="material-icons">description</i>
          REPORTS
        </a>
        <a class="main-layout_nav-link" routerLink="/dashboard" routerLinkActive="active">
          <i class="material-icons">dashboard</i>
          DASHBOARD
        </a>
        <a class="main-layout_nav-link" routerLink="/reports" routerLinkActive="active">
          <i class="material-icons">add</i>
          NEW REPORT
        </a>
      </nav>
    </mat-sidenav>
    <mat-sidenav mode="side" position="end" [opened]="searchOpened">
      <h2>Search Panel</h2>
      <app-search></app-search>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-global-header (onToggleSearch)="toggleSearch()" (onToggleNav)="toggleNav()"></app-global-header>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
