<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span>Report</span>
      </mat-panel-title>
      <mat-panel-description></mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field appearance="fill">
      <mat-label>Incident Date</mat-label>
      <input matInput value="May 3 2019">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Created</mat-label>
      <input matInput value="May 3 2019">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Updated</mat-label>
      <input matInput value="May 3 2019">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>PIN</mat-label>
      <input matInput [value]="report.pin">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Incident Type</mat-label>
      <input matInput [value]="report.type">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Officer</mat-label>
      <input matInput [value]="report.officer">
    </mat-form-field>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span>Details</span>
      </mat-panel-title>
      <mat-panel-description></mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field class="report-details--details"  appearance="fill">
      <mat-label>Details</mat-label>
      <textarea multiple matInput [value] = "report.details">
      </textarea>
    </mat-form-field>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span>Vehicle</span>
      </mat-panel-title>
      <mat-panel-description></mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field appearance="fill">
      <mat-label>License Plate </mat-label>
      <input matInput [value]="report.vehicle.licensePlateNumber"/>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>State </mat-label>
      <input matInput [value]="report.vehicle.licensePlateState"/>
    </mat-form-field>
    <br/>
    <mat-form-field appearance="fill">
      <mat-label>Vehicle Color</mat-label>
        <input matInput [value]="report.vehicle.vehicleColor"/>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Vehicle Year</mat-label>
      <input matInput [value]="report.vehicle.vehicleYear"/>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Vehicle Mae</mat-label>
      <input matInput [value]="report.vehicle.vehicleMake"/>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Vehicle Model</mat-label>
      <input matInput [value]="report.vehicle.vehicleModel"/>
    </mat-form-field>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span>Subject</span>
      </mat-panel-title>
      <mat-panel-description></mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput [value]="report.subject.firstName"/>
    </mat-form-field>
    <br/>
    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput [value]="report.subject.lastName"/>
    </mat-form-field>
    <br/>
    <mat-form-field appearance="fill">
      <mat-label>Phone Number</mat-label>
      <input matInput [value]="report.subject.phoneNumber">
    </mat-form-field>
    <br/>
    <label class="search_form-label">Gender:</label>
    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
      [(ngModel)]="report.subject.gender">
      <mat-radio-button class="search_radio-button" *ngFor="let gender of genders" [value]="gender">
        {{gender}}
      </mat-radio-button>
    </mat-radio-group>
  </mat-expansion-panel>
</mat-accordion>
